<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de...</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de</a>
    <a href="/blog">Blog</a>
    <h1>Mi sitio Astro</h1>
    <h1>Sobre mí</h1>
    <h2>Esta es la página sobre mí</h2>
    <p>Estoy trabajando en el tutorial introductorio de Astro</p>
    <p>
      Este sitio se irá actualizando a medida que vaya completando más partes
      del tutorial.
    </p>
  </body>
</html>
